<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psyclone.fan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".providers.FanContentProvider"
            android:authorities="com.psyclone.fan.provider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activities.ChannelGuideActivity" />
        <activity android:name=".activities.ShowDetailsActivity" />
        <activity android:name=".activities.SettingsActivity" android:label="@string/activity_title_settings" />

        <service
            android:name=".jobs.TVGuideRefreshJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

    </application>

</manifest>